.venv
__pycache__/
*.env
*.env.*
env.*
coverage.xml
.coverage
.coverage.*
htmlcov/
dist/
build/
*.egg-info/
*.egg
*.log
.vscode/
.pytest_cache
.mypy_cache
.python-version
.pre-commit-config.yaml
LICENSE
.git*
.dockerignore
Dockerfile
